[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.4"
# Features to pass to cargo build
features = ["use-auto-allocator"]
#features = ["use-tcmalloc-static"]
#features = ["use-snmalloc"]
# CI backends to support
ci = "github"
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]
github-build-setup = "../setup.yml"
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false
# The installers to generate for each app
installers = ["shell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "aarch64-unknown-linux-gnu", "aarch64-unknown-linux-musl", "aarch64-pc-windows-msvc", "armv7-unknown-linux-gnueabihf", "armv7-unknown-linux-musleabihf", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]

[dist.github-custom-runners]
x86_64-unknown-linux-gnu = "ubuntu-24.04"
x86_64-unknown-linux-musl = "ubuntu-24.04"

# Arm
aarch64-unknown-linux-gnu = "ubuntu-24.04"
aarch64-unknown-linux-musl = "ubuntu-24.04"
armv7-unknown-linux-gnueabihf = "ubuntu-24.04"
armv7-unknown-linux-musleabihf = "ubuntu-24.04"

#aarch64-unknown-linux-gnu = "buildjet-8vcpu-ubuntu-2204-arm"
#aarch64-unknown-linux-musl = "buildjet-8vcpu-ubuntu-2204-arm"
#armv7-unknown-linux-gnueabihf = "buildjet-8vcpu-ubuntu-2204-arm"
#armv7-unknown-linux-musleabihf = "buildjet-8vcpu-ubuntu-2204-arm"

# Windows
#x86_64-pc-windows-msvc.container = "messense/cargo-xwin"
#aarch64-pc-windows-msvc.container = "messense/cargo-xwin"
#aarch64-pc-windows-msvc = "windows-latest"
#x86_64-pc-windows-msvc = "windows-latest"
#aarch64-pc-windows-msvc = "ubuntu-24.04"
#x86_64-pc-windows-msvc = "ubuntu-24.04"

# Mac
aarch64-apple-darwin = "macos-14"
x86_64-apple-darwin = "macos-14"

[dist.github-custom-runners.x86_64-pc-windows-msvc]
runner = "ubuntu-24.04"
#container = "messense/cargo-xwin:0.18.4"
#container = "messense/cargo-xwin:0.17.1"
container = "messense/cargo-xwin:sha-ab6a270"
#container = "messense/cargo-xwin:sha-ab6a270"

[dist.github-custom-runners.aarch64-pc-windows-msvc]
runner = "ubuntu-24.04"
#container = "messense/cargo-xwin:0.18.4"
#container = "messense/cargo-xwin:0.17.1"
container = "messense/cargo-xwin:sha-ab6a270"
#container = "messense/cargo-xwin:sha-ab6a270"

